

body{
    margin: 0;
    padding: 0;
}

#container{
    display: grid;
    grid-template-columns: 2fr 10fr;
    box-sizing: border-box;

}

#main{
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,6fr);
    margin-top: 50px;
    grid-gap: 20px;
    /* background-color: rgb(206, 197, 180); */
    border-radius: 10px;
}
#sidebar > div{
    padding: 10px 0px;
    padding-left: 10px;
    
}
#main >div:nth-child(2){
    border: 2px solid green;
    border-radius: 10px;
    padding: 5px;
}
